/target/
/node_modules/
/dist/
/.superloopy/
/src-tauri/gen/schemas/
/src-tauri/gen/android/.gradle/
/src-tauri/gen/android/**/build/
/src-tauri/gen/android/local.properties
/src-tauri/binaries/*.exe
*.pdb
*.jks
*.keystore
.env
.env.*
!.env.example
