<!-- SPDX-License-Identifier: GPL-2.0-or-later -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <application android:label="알림 화면 예시" android:theme="@android:style/Theme.Material.Light.NoActionBar"
        android:supportsRtl="true" android:localeConfig="@xml/locale_config"
        android:allowBackup="false" android:usesCleartextTraffic="false">
        <activity android:name="dev.dkk115.uacremote.background.GalleryActivity" android:exported="true">
            <intent-filter><action android:name="android.intent.action.MAIN" /><category android:name="android.intent.category.LAUNCHER" /></intent-filter>
        </activity>
    </application>
</manifest>
